<div class="container">
  <h1><%= title %></h1>
  
</div>
    <div class="container">
      <img src="./Assets/images/MyPic.jpg" alt="Notebook" style="width:50%;">
      <div class="content">
        <p><span class="title-s">Name: </span> <span>Yahya Ibrahim</span></p>
                    <p><span class="title-s">Profile: </span> <span>full stack developer</span></p>
                    <p><span class="title-s">Email: </span> <span>yibrahi7@my.centennialcollege.ca</span></p>
                    <p><span class="title-s">Phone: </span> <span>437-925-7118</span></p>
                    <p>My name is Yahya Ibrahim. I'm enrolled in Software Engineering Technician at Centennial College.<br> This is my 3rd Semester and I'm looking forward to becoming full stack developer. Please find my resume
                    <a href="./Assets/images/resume.pdf"> here</a></p>
      </div>
    </div>

