<div class="container">
    <h1><%= title %></h1>
  
<!--
 
      <div id="welcome-msg"> 
        <h2>Welcome Message</h2>
         <p>Hi there, my name is Yahya Ibrahim. I'm enrolled in Software Engineering Technician at Centennial College.<br> This is my 3rd Semester and I'm looking forward to becoming full stack developer.</p>
      </div>
      <div id="mission-statement">
        <h2>Mission Statement</h2>
<p>To enhancing the business growth of our customers with creative Design and Development to deliver market-defining high-quality solutions that create value and consistent competitive advantage for our clients around the world.
</p>
      </div>
    
    -->

    <div class="row">
      <div class="column">
        <div class="card1">
          <h2>Welcome Message</h2>
         <p>Hi there, my name is Yahya Ibrahim. I'm enrolled in Software Engineering Technician at Centennial College.<br> This is my 3rd Semester and I'm looking forward to becoming full stack developer.</p>
          
        </div>
      </div>
    
      <div class="column">
        <div class="card2">
          <h2>Mission Statement</h2>
          <p>To enhancing the business growth of our customers with creative Design and Development to deliver market-defining high-quality solutions that create value and consistent competitive advantage for our clients around the world.
          </p>
        
        </div>
      </div>
      
    
    </div>
</div>