<div class="container">
  <h1><%= title %></h1>
  
</div>
<div class="polaroid">
    <img src="./Assets/images/java.jpg" alt="5 Terre" width="400px">
    <div class="container">
    <p>backend security</p>
    </div>
  </div>
  
  <div class="polaroid">
    <img src="./Assets/images/cloud-computing.jpg" width="400px" height="">
    <div class="container">
    <p>Cloud  S3 deployment in AWS</p>
    </div>
  </div>
  <div class="polaroid">
    <img src="./Assets/images/ecommerce.jpg" width="360px" height="">
    <div class="container">
    <p>E-commerce Website</p>
    </div>
  </div>