<div class="container">
    <h1><%= title %></h1>
</div>

<div class="row1-container">
    <div class="box box-down cyan">
      <h2>Web Security</h2>
      <p>Web security refers to protecting networks and computer systems from damage to or the theft of software, hardware, or data. It includes protecting computer systems from misdirecting or disrupting the services they are designed to provide. </p>
      <img src="./Assets/images/security.jpg" width=50px alt="">
    </div>

    <div class="box red">
      <h2>UI / UX </h2>
      <p>UI refers to the screens, buttons, toggles, icons, and other visual elements that you interact with when using a website, app, or other electronic device. 
         UX refers to the entire interaction you have with a product, including how you feel about the interaction.</p>
      <img src="./Assets/images/web.png" width=50pxalt="">
    </div>

    <div class="box box-down blue">
      <h2>FrontEnd & Backend</h2>
      <p>we merge user interface, and  server-side of application and database that work behind the scenes to deliver information to the user. </p>
      <img src="./Assets/images/app.jpg" width=50px alt="">
    </div>
  </div>
  <div class="row2-container">
    <div class="box orange">
      <h2>Cloud Computing</h2>
      <p>Cloud computing is a general term for anything that involves delivering hosted services over the internet. 
        These services are divided into three main categories or types of cloud computing: infrastructure as a service (IaaS), platform as a service (PaaS) and software as a service (SaaS). </p>
      <img src="./Assets/images/website.png" width=50px alt="">
    </div>
  </div>